*, *:before, *:after {
  box-sizing: border-box;
}

body {

  font-family: sans-serif;
  font-size: 10px;
  background-color: #343334;
}

.container {
  margin: 0 auto;
  width: 23%;

}

nav {
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 23%;
  background-color: black;
}

.restaurant-list {
  padding-top: 45px;
  background-color: #dbd9db;
}

.arrow {
  float:right;
  margin-top:1.5%;
}

.content {
  display:inline-block;
}

.location {
  padding:5%;
  border-bottom:.5px solid black;
}

.location:hover {
  background-color: #abaaab;
}

h1 {
  font-size: 1.3em;
  font-weight: 700;
  padding-bottom: 2%;
}

h3 {
  font-weight: 500;
}
